body {
border-radius:10px;

background:WHITE;

width:700px;
HEIGHT:40px;
box-shadow:0px  10px 20px #000000:}

	
		
		h1 {
  color: #000;
  text-shadow: #555 2px 2px 3px;

	font-STYLE:ITALIC;
	FONT-SIZE:100%;}
	
	
	div{
		border-style:5px solid rgb(204,102,204);
	#menu1 {
  color: #000;
  text-shadow: #555 2px 2px 3px;

	font-STYLE:ITALIC;
	FONT-SIZE:100%;}
	